<p>home works!</p>
<h1>Welcome to Home Page</h1>
<br>
<button class="btn btn-primary" (click)="navigateToLogin()">Go to Login</button>
<br><br><br>
<button class="btn btn-primary" [routerLink]="'/login'" >Go to login page</button>
<br><br>
<button class="btn btn-primary" (click)="navigateToEmp()">Employee List</button>
<br><br>
<button class="btn btn-primary" (click)="navigateToregister()">Register</button>

<br><br>
<button class="btn btn-primary" (click)="navigateToshow()">show user</button>



